.btn {
  &-grid {
    font-size: 2rem;
    text-decoration: none;
    color: $color-white;
    transition-property: color transform background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    backface-visibility: hidden;
    background-color: rgba($color-primary-orange, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    &:hover {
      color: $color-primary-red;
      transform: translateY(-0.3rem);
      box-shadow: 0 1.2rem 1.3rem rgba($color-black, 0.5);
      background-color: rgba($color-white, 0.7);
    }
    &:active {
        transform: translateY(0);
    }
  }
}
