.btn {
  &-grid {
    font-size: 1.4rem;
    text-decoration: none;
    color: $color-white;
    transition-property: color transform background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    backface-visibility: hidden;
    background-color: rgba($color-black, .8);
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    &:hover {
      color: $color-black;
      transform: translateX(0.4rem);
      box-shadow: 0 .4rem .4rem rgba($color-black, 0.8);
      background-color: rgba($color-primary-red, 0.8);
    }
    &:active {
        transform: translateX(0);
    }
  }
}
