* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  padding: 2rem;
}

body {
  background-image: url('../assets/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

section.mintschedule {
    margin-top: 3rem;
}