* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  padding: 2rem;
}

body {
  background-image: url("../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

section.mintschedule {
  .heading {
    text-align: right;
    margin-bottom: 3rem;
    background-color: rgba($color-black, 1);
    border-radius: 3px;
    padding: 1rem 1rem;
    .left {
        padding: 1rem;
    }
    img {
        width: 12rem;
    }
  }
  margin-top: 3rem;
}
